.why-us-container {
  display: flex;
  background-color: #121f2c;
  color: rgb(252, 250, 250);
  font-weight: bold;
  padding: 20px;
  padding-top: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%; // Extend to cover both left and right margins// Remove auto and add margin on top and bottom

  .image-container {
    flex: 1;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .content-container {
    flex: 1;
    padding: 20px;

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .reason {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;

      .icon {
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }

      .reason-text {
        h3 {
          font-size: 1.5rem;
          margin-bottom: 10px;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
